{% extends 'frontbase.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block keywords %} {% endblock %}
{% block description %} {% endblock %}


{% block content %}
    <head>
        <style>
            element {
            }
            .alert-dismiss .alert {
                padding: 13px 15px;
            }
            .fade.show {
                opacity: 1;
            }
            .alert {
                letter-spacing: 0;
                font-size: 13px;
                border: none;
                padding: 10px 16px;
            }
            .alert-success {
                color: #155724;
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
            .alert-dismissible {
                padding-right: 4rem;
            }
            .alert {
                position: relative;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
            }
            .fade {
                opacity: 0;
                transition: opacity .15s linear;
            }
            *, ::before, ::after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            * {
                margin: 0;
                margin-bottom: 0px;
                padding: 0;
                box-sizing: border-box;
            }
            *, ::after, ::before {
                box-sizing: border-box;
            }
            .card {
                word-wrap: break-word;
            }
        </style>
    </head>

    {{ include ('admin/messages.html.twig') }}



<div class="section group">
    <div class="col span_2_of_3">
        <div class="contact-form">
            <h2>{% trans %}Contact Us{% endtrans %}</h2>
            <form method="post" name="messages">
                <div>
                    <span><label>{% trans %}Name{% endtrans %}</label></span>
                    <span><input  name="messages[name]"  class="textbox" {% if is_granted('IS_AUTHENTICATED_FULLY') %} value="{{ app.user.name }}" {% endif %}  type="text"></span>
                </div>
                <div>
                    <span><label>{% trans %}E-mail{% endtrans %}</label></span>
                    <span><input type="email" name="messages[email]" class="textbox" {% if is_granted('IS_AUTHENTICATED_FULLY') %} value="{{ app.user.email }}" {% endif %}  ></span>
                </div>

                <div>
                    <span><label>{% trans %}Subject{% endtrans %}</label></span>
                    <span><input class="textbox" name="messages[subject]" type="text"></span>
                </div>
                <div>
                    <span><label>{% trans %}Message{% endtrans %}:</label></span>
                    <span><textarea name="messages[message]"> </textarea></span>

                </div>
                <input  name="token" type="hidden" value="{{ csrf_token('form-message') }}">
                <input  name="messages[status]" type="hidden" value="Unread">
                <div>
                    <span><input class="add-cart" style=" float: left; margin-left: 230px" type="submit"  value="{% trans %}Submit{% endtrans %}"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col span_1_of_3">

        <div class="company_address">
            <h3>{% trans %}Company Information{% endtrans %} :</h3>
          {{ data[0].contact|raw }}
        </div>
    </div>
</div>

{% endblock %}



