{% extends 'frontbase.html.twig' %}

{% block title %} {{ data[0].title }}{% endblock %}

{% block keywords %}  {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }}{% endblock %}
{% block sidebar %} {{ include ('home/sidebar.html.twig') }} {% endblock %}
{% block content %}


    <div class="wrap" style="margin-top: -60px">
<div class="features_items"><!--features_items-->
    <br>
    <h2 class="title text-center">{{ data[0].title}}</h2>

    {% for rs in products %}


    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img alt="" src="{{ asset('uploads') }}/images/{{ rs.image }}" height="200">
                    <h2>${{ rs.sellprice }}</h2>
                    <p>{{ rs.title }}</p>
                    <a class="btn btn-default add-to-cart" href="{{ path('product_details', {'id': rs.id} )}}"><i class="fa fa-info"></i>Product Detail</a>

                </div>

            </div> </div> </div>






        {% endfor %}


</div>

    </div>

    {{ include ('home/content.html.twig') }}

 {% endblock %}

