<style>



    .categories {
        border: 1px solid #EEE;
    }
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .categories h3 {
        font-size: 1.2em;
        color: #fff;
        padding: 10px;
        background: #B81D22;
        text-transform: uppercase;
        font-family: "ambleregular";
    }
    a {
        text-decoration: none;
    }
    .categories li a {
        display: block;
        font-size: 0.8em;
        padding: 8px 15px;
        color: #9c9c9c;
        font-family: "ambleregular";
        margin: 0 20px;
        background: url(../images/drop_arrow.png) no-repeat 0;
        border-bottom: 1px solid #EEE;
        text-transform: uppercase;
    }
    .categories li:last-child a {
        border: none;
    }




    ul#menu-v, #menu-v ul
    {
        position: relative;
        width:250px; /* Main Menu width */
        border:1px solid rgba(190,190,190,0.3);
        list-style:none; margin:0; padding:0;
        z-index:9;
    }

    #menu-v li
    {
        margin:0;padding:0;
        position:relative;
        background: #383838;
        transition:background 0.5s;
    }
    #menu-v li:hover
    {
        background-color:#FF8C00
    }

    #menu-v a
    {
        font:normal 12px Arial;
        font-family: 'ambleregular';
        border-top:1px solid rgba(190,190,190,0.3);
        display:block;
        color:#EEEEEE;
        text-decoration:none;
        line-height:30px;
        padding-left:22px;
        position:relative;
    }

    #menu-v li:first-child a
    {
        border-top:0;
    }

    #menu-v a.arrow::after{
        content:'';
        position:absolute;
        display:inline;
        top:50%;
        margin-top:-4px;
        right:8px;
        border-width:4px;
        border-style:solid;
        border-color:transparent transparent transparent white;
        transition:border-color 0.5s;
    }

    #menu-v li a.arrow:hover::after
    {
        border-color:transparent transparent transparent #CCCCCC;
    }

    /*Sub level menu items
    ---------------------------------------*/
    #menu-v li ul
    {
        min-width:180px; /* Sub level menu min width */
        position:absolute;
        display:none;
        left:100%;
        top:50%; transform:translateY(-50%);
    }

    #menu-v li:hover > ul
    {
        display:block;
    }

</style>



<div class="header_bottom_left"  >
    <div class="categories">
       <ul id="menu-v">
            <h3 style="background-color: darkorange">User Menu</h3>
            <li><a href="#" >Profile Management </a>
                <ul>

                    <li><a href="{{ path('userpanel') }}">My User info</a></li>
                    <li><a href="{{ path('userpanel_edit') }}">Edit my info</a></li>
                </ul>

            </li>

           <li><a href="{{ path('shopcart_index') }}" >Shopcart </a> </li>
            <li><a href="{{ path('orders_index') }}" >Orders History </a> </li>

           {% if is_granted('ROLE_ADMIN') %}
           <li><a href="{{ path('admin') }} " > Admin Panel</a> </li>
{% endif %}
        </ul>
    </div>
</div>



