<body>
<section id="slider" style="margin-top: 55px" ><!--slider-->
    <div class="container" >
        <div class="row">
            <div class="col-sm-8">
                <div class="carousel slide" id="slider-carousel" data-ride="carousel" style="height: 300px">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0"></li>
                        <li class="active" data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                        <li data-target="#slider-carousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner" style="height: 300px">

                        {% for rs in slider %}

                            <div class="item" style="height: 300px">
                            <div class="col-sm-6 " style="height: 300px">
                                <h1 style="margin-top: 5px"><span>Latest</span>Products</h1>
                                <h2>{{ rs.title }}</h2>
                                <p>{{ rs.description }} </p> <br>
                               <h2 style="color: orange">${{ rs.sellprice }}</h2>
                             <a href="{{ path('product_details', {'id': rs.id}) }}">  <button class="btn btn-default get" type="button">Get it now</button>
                             </a>
                            </div>

                            <div class="col-sm-6" style="height: 300px">
                                <a href="{{ path('product_details', {'id': rs.id}) }}">  <img class="girl img-responsive" alt="" src={{ asset('uploads') }}/images/{{ rs.image }}> </a>

                            </div>
                        </div>
                        {% endfor %}
                        <div class="item active" style="height:">
                            <div class="col-sm-6" style="position: relative">
                                <h1 style="margin-top: 5px"><span>Latest</span>Products</h1>
                                <h2>{{ slider1[3].title }}</h2>
                                <p>{{ slider1[3].description }} </p>
                                <h2 style="color: orange">${{ slider1[3].sellprice }}</h2>
                                <a href="{{ path('product_details', {'id': slider1[3].id}) }}">  <button class="btn btn-default get" type="button">Get it now</button>
                                </a>

                            </div>
                            <div class="col-sm-6" style="height: 300px">
                                <a href="{{ path('product_details', {'id': slider1[3].id}) }}">  <img class="girl img-responsive" alt="" src={{ asset('uploads') }}/images/{{ slider1[3].image }}> </a>

                            </div>
                        </div>


                    </div>

                    <a class="left control-carousel hidden-xs" href="#slider-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right control-carousel hidden-xs" href="#slider-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>