


{% extends 'adminbase.html.twig' %}

{% block title %}Setting Edit{% endblock %}
{% block page %}  <h4 class="page-title pull-left">Setting Info Edit</h4>{% endblock %}
{% block path %}  <li><a href=>Setting Edit </a></li> {% endblock %}
{% block content %}




<div class="card">
    <div class="card-body">

        {{ include ('admin/messages.html.twig') }}
        <h4 class="header-title" >Edit Selected setting info</h4>






    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="home-tab" role="tab" aria-selected="true" aria-controls="home" href="#home" data-toggle="tab">General Info</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="contact-tab" role="tab" aria-selected="false" aria-controls="contact" href="#contact" data-toggle="tab">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about-tab" role="tab" aria-selected="false" aria-controls="contact" href="#about" data-toggle="tab">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="server-tab" role="tab" aria-selected="false" aria-controls="contact" href="#server" data-toggle="tab">Email Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ref-tab" role="tab" aria-selected="false" aria-controls="profile" href="#ref" data-toggle="tab">References</a>
            </li>
        </ul>
        <form method="post"   >

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                <b>General Info</b>

                <div  class="col-6 mt-5">






                    <div  class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Title:</b></label>
                        <input  value="{{ setting.title }}" type="text"  class="form-control" id="setting_title" name="setting[title]"   maxlength="20">

                        <div  class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Keywords:</b></label>
                            <input  value="{{ setting.keywords }}" type="text"  class="form-control" id="category_keywords" name="setting[keywords]"   maxlength="250">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Description:</b></label>
                            <input  value="{{ setting.description }}" type="text"  class="form-control" id="setting_desc" name="setting[description]"   maxlength="250">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Status:</b></label>
                            <input  value="{{ setting.status }}" type="text"  class="form-control" id="setting_status" name="setting[status]"  maxlength="20">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Company:</b></label>
                            <input  value="{{ setting.company }}" type="text"  class="form-control" id="setting_type" name="setting[company]"  maxlength="20">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Address:</b></label>
                            <input  value="{{ setting.address }}" type="text"  class="form-control" id="setting_type" name="setting[address]"   maxlength="20">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Fax:</b></label>
                            <input  value="{{ setting.fax }}" type="text"  class="form-control" id="setting_type" name="setting[fax]"   maxlength="20">
                        </div>
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Phone:</b></label>
                            <input  value="{{ setting.phone }}" type="text"  class="form-control" id="setting_type" name="setting[phone]"   maxlength="20">
                        </div>
                        <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button></div> </div> </div>


            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <b> About Us</b>
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">About us:</b></label>
                    <br><textarea id="detail" name="setting[aboutus]"   cols="50" rows="15" >{{ setting.aboutus }}</textarea>
                </div>
                              <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">About us Turkish:</b></label>
                    <br><textarea id="detailabtr" name="setting[aboutustr]"   cols="50" rows="15" >{{ setting.aboutustr }}</textarea>
                </div>
                           
          
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">About us Arabic:</b></label>
                    <br><textarea id="detailabar" name="setting[aboutusar]"   cols="50" rows="15" >{{ setting.aboutusar }}</textarea>
                </div>
                
                
                       
              
  
                
                
                
                <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <b> Contact</b>
                <div class="form-group">
                    <label for="setting_detail"><b class="text-muted mb-3 mt-4 d-block">Contact Us:</b></label> <br>
                    <textarea id="detail1" name="setting[contact]"   cols="50" rows="15" >{{ setting.contact}}</textarea>
                   <br> <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>
                </div>

            </div>
            <div class="tab-pane fade" id="server" role="tabpanel" aria-labelledby="server-tab">
                <b> Email Server</b>

                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Email:</b></label>
                    <input  value="{{ setting.email }}" type="text"  class="form-control" id="setting_type" name="setting[email]"   maxlength="20">
                </div>

                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Server:</b></label>
                    <input  value="{{ setting.smtpserver }}" type="text"  class="form-control" id="setting_type" name="setting[smtpserver]"   maxlength="20">
                </div>
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Smtp Email:</b></label>
                    <input  value="{{ setting.smtpemail }}" type="text"  class="form-control" id="setting_type" name="setting[smtpemail]"   maxlength="20">
                </div>
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Smptp Password:</b></label>
                    <input  value="{{ setting.smptppassword }}" type="text"  class="form-control" id="setting_type" name="setting[smptppassword]"   maxlength="20">
                </div>
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Smtp Port:</b></label>
                    <input  value="{{ setting.smtpport }}" type="text"  class="form-control" id="setting_type" name="setting[smtpport]"   maxlength="20">
                </div>
                <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>
            </div>

            <div class="tab-pane fade" id="ref" role="tabpanel" aria-labelledby="ref-tab">
                        <b> Our Partners</b>
                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Our Partners:</b></label> <br>
                    <textarea id="detail2" name="setting[referances]"   cols="50" rows="15" >{{ setting.referances }}</textarea>
                    
                    
                    <label class="required"> <b class="text-muted mb-3 mt-4 d-block">Our Partners Arabic:</b></label> <br>
                    <textarea id="detail2-1" name="setting[referancesar]"   cols="50" rows="15" >{{ setting.referancesar }}</textarea>
                    
                    
                    <label class="required"> <b class="text-muted mb-3 mt-4 d-block">Our Partners Turkish:</b></label> <br>
                    <textarea id="detail2-2" name="setting[referancestr]"   cols="50" rows="15" >{{ setting.referancestr }}</textarea>
                    
                    
                    <br> <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>
                </div>

            </div>
                </div>  </div> </div> </form>
    </div>















            </div>
        </div>
    </div>




    <script>
        ClassicEditor
            .create( document.querySelector( '#detail' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#detail1' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#detail2' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    
    
        <script>
        ClassicEditor
            .create( document.querySelector( '#detail2-1' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    
    
        <script>
        ClassicEditor
            .create( document.querySelector( '#detail2-2' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    
        
        <script>
        ClassicEditor
            .create( document.querySelector( '#detailabtr' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
            
        <script>
        ClassicEditor
            .create( document.querySelector( '#detailabar' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>


    <a href="{{ path('admin_setting_index') }}">back to list</a>
    <br>
    <br>



    {{ include('admin/setting/_delete_form.html.twig') }}
{% endblock %}


