{% extends 'frontbase.html.twig' %}

{% block title %} Our Certificates{% endblock %}

{% block keywords %} Rosalo Certificate {% endblock %}
{% block description %} Certificate{% endblock %}

{% block content %}
<head >
    <style> .imagepro {
    width: 125px;
    height: 125px;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
} 

.imagepro img{


  display: block;
 max-height: 182px;
 max-width: 125px;
  object-fit: scale-down;
}
img {

}


.product-image-wrapper {
    
    width: 200px;
    height: 300px;
   margin-left: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

</style>
    <link rel="icon"
          type="image/png"

          href="https://cdn4.iconfinder.com/data/icons/natural-green-perfect-pixel-2/512/Leaves_leaf_green_natural-512.png">
</head>
<br>
    <div class="wrap">
<div class="features_items"><!--features_items-->

    <h2 class="title text-center">Our Certificates</h2>




    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/marka.png"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            
            
            
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/ifs.png"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            
            
            
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/brc.png"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/3.jpeg"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/2.jpeg"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img alt="" src="{{ asset('uploads') }}/images/1.jpeg"  >
                    
                    <p></p>
                   


            </div>
</div>
            </div> </div> </div>





</div>

    </div>

  

 {% endblock %}

