{% extends 'frontbase.html.twig' %}

{% block title %} {{ data[0].title }}{% endblock %}

{% block keywords %}  {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }}{% endblock %}

{% block content %}
{{ include ('home/sidebar2.html.twig') }}
{# <div>
    <head >
        <link rel="icon"
              type="image/png"

              href="https://cdn4.iconfinder.com/data/icons/natural-green-perfect-pixel-2/512/Leaves_leaf_green_natural-512.png">

</head>

<style>
    
           .prod{ 
          display: block;
 max-height: 345.6px;
 max-width: 240px;
 min-height:275px ;
 min-width:200px ;
 
 object-fit: scale-down;
 
}


td,tr,table,tbody
{ border:1px solid;}
    
</style>

  <div class="wrap">
    


        <div class="product-details"><!--product-details-->
            <div class="col-sm-5" >
                <div class="view-product" >



                    <div class="carousel slide" id="similar-product" data-ride="carousel" >

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" >

                            <div class="item active" >
                                <a href=""> <img class="prod" alt="" src="{{ asset('uploads') }}/images/{{ data[0].image }}"  height="200px" width="200"></a>

                            </div>

                            {% for rs in image %}

                                <div class="item">
                                    <a href=""><img alt="" src="{{ asset('uploads') }}/images/{{ rs.image }}" height="200px" width="200"></a>
                                </div>
                            {% endfor %}
                        </div>




                        <!-- Controls -->
                        
                    </div>
                    
                    
                    
                    <h3>
                        
                         
 
 {{ data[0].title }}

                  
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                </div>


            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->

                    <h2>
                     
 
 {{ data[0].title }}
                                 
                        
                        </h2>
                    <p><b>{% trans %}Product ID:{% endtrans %}</b> {{ data[0].id }}</p>
                    <br>
                    <p><b>{% trans %}Product Description:{% endtrans %}</b>
                    
                    
                                            
 
    {{ data[0].description }}

           
                    
                    
                </p>





                    <p><b>{% trans %}Type:{% endtrans %}</b>
                    
                                                           
 
    {{ data[0].type }}

                

                    </p>
                    
                    
                   
         <form class="form-inline " action="{{ path('shopcart_new')}}" method="post">
  <input name="shopcart[quantity]" class="form-control form-control-sm mr-3 w-75" type="integer" value="1" required placeholder="Enter quantity.."
    aria-label="Search">
    <input name="shopcart[productid]" class="form-control form-control-sm mr-3 w-75" type="hidden" value="{{data[0].id}}" required >
    <input name="token" class="form-control form-control-sm mr-3 w-75" type="hidden" value="{{csrf_token('add-item')}}" >

       <button class="btn btn-default add-to-cart" type="submit">{% trans  %}Add to cart{% endtrans %}</button>
    </form>

                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->
         #}



<div class=""  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 130px;">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
				
							<form class="form-inline " action="{{ path('shopcart_new')}}" method="post">
						<div class="modal-body modal-spa">
								<div class="col-md-5 span-2">
											<div class="item">
												<img src="{{ asset('uploads') }}/images/{{ data[0].image }}" class="img-responsive" alt="">
											</div>
								</div>
								<div class="col-md-7 span-1 "> 
									<h3>{{ data[0].title }}</h3>
									<p class="in-para" style="color: black"><span class="mycolor">اسم البائع:</span> {{ data[0].getSeller().getName() }}</p>
									<p class="in-para" style="color: black"><span class="mycolor">رقم التواصل:</span> {{ data[0].getSeller().getPhone() }}</p>
									<p class="in-para" style="color: black"><span class="mycolor">الكمية المتاحة:</span>  {{data[0].amount}}</p>
									
									<div class="price_single">
									  {# <span class="reducedfrom "><del>$2.00</del>$1.50</span> #}
									   <span class="reducedfrom ">{{ data[0].sellprice }} ريال سعودي</span>
									
									 <div class="clearfix"></div>
									</div>
									{% if not is_granted('ROLE_SELLER') %}
										{% if data[0].amount == 0 %} <p style="color: red">السلعة غير متوفرة</p> {% else %}
									
									<div style="justify-content: center;display: inline-flex;" class="input-group"> 
									
								<button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button" class="inc myquant label label-success">+</button> 
  
  <input class="form-control quantity" style="width: 30%;margin-top: 0px;margin-right: 7px;margin-left: 7px;text-align: center;" min="1" max="{{data[0].amount}}" name="shopcart[quantity]" value="1" type="number" readonly >
  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button" class="dec myquant label label-danger">-</button>
  </div>
	{% endif %}		{% endif %}		
									
								
									 
    <input name="shopcart[productid]" class="form-control form-control-sm mr-3 w-75" type="hidden" value="{{data[0].id}}" required >
    <input name="token" class="form-control form-control-sm mr-3 w-75" type="hidden" value="{{csrf_token('add-item')}}" >
	 <input name="shopcart[seller]" class="form-control form-control-sm mr-3 w-75" type="hidden" value="{{ data[0].getSeller().getId() }}" >
								<br>	<h6 class="quick">عن المنتج:</h6>
									<p class="quick_desc">{{ data[0].detail }}</p>
										{% if data[0].amount == 0 %}  {% else %}
										{% if not is_granted('ROLE_SELLER') %}
									 <div class="add-to">
										   <button class="btn btn-danger my-cart-btn my-cart-btn1 " type="submit" >إضافة إلى السلة</button>
										</div>    {% endif %} {% endif %} </form>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>











                       
{% endblock %}