{% extends 'adminbase.html.twig' %}

{% block title %}Category Edit{% endblock %}
{% block page %}  <h4 class="page-title pull-left">Category Info Edit</h4>{% endblock %}
{% block path %}  <li><a href=>Category Edit </a></li> {% endblock %}
{% block content %}









    <div class="card">
        <div class="card-body">
            <h4 class="header-title" >Edit Selected Category info</h4>

            <div class="col-12 mt-5">


                <form method="post">

                    <div id="users" class="col-6 mt-5">
                        <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Parentid:</b></label>
                            <div class="form-group">

                                <select size="1" name="category[parentid]"  class="form-control" >
                                    {% if category.parentid!=0 %}
                                    <option value ="{{ category.parentid }}" >{{ catname.title }}</option>
                                        <option value ="0">Main Category</option>
                                        {% for cat in catlist %}
                                            {% if cat.title!=catname.title %}
                                                <option value="{{ cat.id }}"> {{ cat.title }}</option>  {% endif %}
                                        {% endfor %}

                                    {% else %}
                                    <option value ="0">Main Category</option>
                                        {% for cat in catlist %}

                                                <option value="{{ cat.id }}"> {{ cat.title }}</option>
                                        {% endfor %}
                                    {% endif %}


                                </select>
                            </div>


                            <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Title:</b></label>
                                <input  value="{{ category.title }}" type="text"  class="form-control" id="category_title" name="category[title]" required="required" maxlength="20">

                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Keywords:</b></label>
                                    <input  value="{{ category.keywords }}" type="text"  class="form-control" id="category_keywords" name="category[keywords]" required="required" maxlength="250">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Description:</b></label>
                                    <input  value="{{ category.description }}" type="text"  class="form-control" id="category_desc" name="category[description]" required="required" maxlength="250">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Status:</b></label>
                                    <input  value="{{ category.status }}" type="text"  class="form-control" id="category_status" name="category[status] value=" required="required" maxlength="20">
                                </div>






                                <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>





                </form>
            </div>
        </div>
    </div>







    <a href="{{ path('admin_category_index') }}">back to list</a>
    <br>
    <br>


{% endblock %}
