{% extends 'adminbase.html.twig' %}

{% block title %}Product Edit{% endblock %}
{% block page %}  <h4 class="page-title pull-left">Product Info Edit</h4>{% endblock %}
{% block path %}  <li><a href=>Product Edit </a></li> {% endblock %}
{% block content %}









    <div class="card">
        <div class="card-body">

            {{ include ('admin/messages.html.twig') }}
            <h4 class="header-title" >Edit Selected Product info</h4>

            <div class="col-12 mt-5">


                <form method="post"   >

                    <div id="users" class="col-6 mt-5">

                        <div class="form-group">

                            <select size="1" name="product[category_id]"  class="form-control"  >

                                    <option value ="{{ product.categoryid }}" >{{ catname[0].title }}</option>

                                {% for cat in catlist %}
                                    {% if cat.title!=catname[0].title %}
                                    <option value ="{{ cat.id }}"> {{ cat.title }}</option> {% endif %}
                                {% endfor %}
                            </select>
                        </div>


                            <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Title:</b></label>
                                <input  value="{{ product.title }}" type="text"  class="form-control" id="product_title" name="product[title]" required="required" maxlength="20">

                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Keywords:</b></label>
                                    <input  value="{{ product.keywords }}" type="text"  class="form-control" id="category_keywords" name="product[keywords]" required="required" maxlength="250">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Description:</b></label>
                                    <input  value="{{ product.description }}" type="text"  class="form-control" id="product_desc" name="product[description]" required="required" maxlength="250">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Status:</b></label>
                                    <input  value="{{ product.status }}" type="text"  class="form-control" id="product_status" name="product[status]"  maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Type:</b></label>
                                    <input  value="{{ product.type }}" type="text"  class="form-control" id="product_type" name="product[type]"  maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Amount:</b></label>
                                    <input  value="{{ product.amount }}" type="text"  class="form-control" id="product_type" name="product[amount]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Price:</b></label>
                                    <input  value="{{ product.price }}" type="text"  class="form-control" id="product_type" name="product[price]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Sellprice:</b></label>
                                    <input  value="{{ product.sellprice }}" type="text"  class="form-control" id="product_type" name="product[sellprice]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Min:</b></label>
                                    <input  value="{{ product.min }}" type="text"  class="form-control" id="product_type" name="product[min]" required="required" maxlength="20">
                                </div>

                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Year:</b></label>
                                    <input  value="{{ product.year }}" type="text"  class="form-control" id="product_type" name="product[year]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">WriterID:</b></label>
                                    <input  value="{{ product.writerid }}" type="text"  class="form-control" id="product_type" name="product[writer_id]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">UserID:</b></label>
                                    <input  value="{{ product.userid }}" type="text"  class="form-control" id="product_type" name="product[user_id]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">PublisherID:</b></label>
                                    <input  value="{{ product.publisherid }}" type="text"  class="form-control" id="product_type" name="product[publisher_id]" required="required" maxlength="20">
                                </div>
                                <div class="form-group"><label class="required"> <b class="text-muted mb-3 mt-4 d-block">Image Name:</b></label>
                                    <input  value="{{ product.image }}" type="text"  class="form-control" id="product_type" name="product[image]" readonly  maxlength="250">
                                </div>



                                <label for="product_detail"><b class="text-muted mb-3 mt-4 d-block">Detail</b></label> <br>
                                    <textarea id="detail" name="product[detail]" cols="200" rows="30" >{{ product.detail }}</textarea>

                                <script>
                                    ClassicEditor
                                        .create( document.querySelector( '#detail' ) )
                                        .catch( error => {
                                            console.error( error );
                                        } );
                                </script>




                                <button class="btn btn-primary mt-4 pr-4 pl-4" type="submit">Update</button>



                </form>
            </div>
        </div>
    </div>







    <a href="{{ path('admin_product_index') }}">back to list</a>
    <br>
    <br>

{% endblock %}
